.navbar {
    width: 100%;
    height: 100px;
    background-color: rgba(173, 173, 173, 0.527); 
    display: flex;
    flex-direction: row;
    
  }
  .navbar .left {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
    color: black ;
  }
  .navbar .right{
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    color: black ;
    font-size: 20px;
  }
  .navbar .right .right-meu{
    display: flex;
    gap: 25px;
    color: rgb(10, 10, 10) ;
  }
  .navbar .right a {
    text-decoration: none;
    color: black ;
  }
  .navbar .right button {
    background-color: transparent;
    border: none;
    color: black ;
    cursor: pointer;
    
  }
  .navbar .left svg{
    font-size: 40px;
  }
  .navbar .left h1{
    font-size: 40px;
  }
  .navbar .right {
    justify-content: flex-end;
    padding-right: 50px;
  }
  .navbar .right .right-meu .oe:hover,
.navbar .right .right-meu .two:hover,
.navbar .right .right-meu .three:hover,
.navbar .right .right-meu .four:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}


@media only screen and (max-width: 700px) {
    .navbar .right .right-meu button {
      display: flex;
    }
    .navbar .right .right-meu {
      display: none;
    }
  }
  
  @media only screen and (min-width: 700px) {
    .navbar .right .right-meu button {
      display: none;
    }
    .navbar .right .right-meu {
      display: flex;
    }
  }
  

 