/* Style the container for the Swiper */
.mySwiper {
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the gallery horizontally */
  }
  
  /* Style the individual slides */
  .swiper-slide {
    width: 100%; /* Each slide takes the full width of the container */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Background color for slides */
  }
  
  /* Style the images */
  .swiper-slide img {
    max-width: 100%; /* Make sure images don't exceed the slide width */
    max-height: 100%; /* Make sure images don't exceed the slide height */
    object-fit: cover; /* Crop or resize the image to fit the slide */
  }
  .img{
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-bottom: -15%;

}
  
  
